In [30]:
import pandas as pd
import numpy as np
import json

In [31]:
df = pd.read_json('DataEngineeringQ2.json')
df.head()

,_id,appointmentId,patientDetails,phoneNumber,consultationData
0,T6hf3rb5,40d2-9c9f,"{'_id': 'T6hb630b3', 'firstName': 'Css', 'last...",96686896670,"{'adviceTemplates': [], 'advices': [], 'attach..."
1,T65g3rb5,40dbtc9f,"{'_id': 'T6h33b300', 'firstName': 'Lokesh', 'l...",9496368916,"{'adviceTemplates': [], 'advices': [], 'attach..."
2,T7g6Srb5,g3Wt5c9f,"{'_id': 'TjhB4373', 'phrId': '63b5hvy614d5', '...",7787204833,"{'adviceTemplates': [], 'advices': [], 'attach..."
3,94bg8W8d,fb6-a535,"{'_id': '6df4R5b', 'phrId': '644nig7y', 'first...",9376756879,"{'adviceTemplates': [], 'advices': [], 'attach..."
4,T6h8H56c,67h7KL9,"{'_id': 'lK9hy06a', 'firstName': 'Raghu Viju',...",5267384241,"{'adviceTemplates': [], 'advices': [], 'attach..."

In [32]:
df.shape

(31, 5)

In [33]:
patient_details_dict = df.patientDetails.to_dict()
patient_details_df = pd.DataFrame(patient_details_dict)
patient_details_df.head()
patient_details_df = patient_details_df.transpose()
patient_details_df

,_id,firstName,lastName,emailId,gender,alternateContact,birthDate,phrId,chat,customId
0,T6hb630b3,Css,,,,,None,NaN,NaN,NaN
1,T6h33b300,Lokesh,,,M,NaN,1996-05-16T18:30:00.000Z,NaN,NaN,NaN
2,TjhB4373,Shila,Das,,NaN,NaN,NaN,63b5hvy614d5,NaN,NaN
3,6df4R5b,Bhavika,Ben Panchal,,F,NaN,1988-04-24T14:30:00.000Z,644nig7y,NaN,NaN
4,lK9hy06a,Raghu Viju,,,NaN,,NaN,NaN,NaN,NaN
5,kI9d5c6,Dinesh Kumar,,,M,NaN,1983-05-16T18:30:00.000Z,NaN,{'_id': '09hUb5c7'},3FPEUCW8HACJ
6,i9R324b7,Lalit,Sankhwal,,M,,2003-06-27T14:30:00.000Z,67Yt2b97,NaN,NaN
7,T6h41b5ad3d8002ad9c3c4,Ravi,,,NaN,NaN,NaN,NaN,{'_id': 'T6h41b5ad3d8002ad9c3c5'},8AV4ICI5I389
8,T9Iy347e,Dinesh,,,M,NaN,1983-05-16T18:30:00.000Z,NaN,{'_id': 'T9IsT37f'},0308MSAHYR8K
9,T4Rb1a2,Sanjay,,,M,NaN,1998-05-16T18:30:00.000Z,NaN,{'_id': '7Yd9b1a3'},8S7A3D4K4WZH
10,Tr4T2173,Akshay,Akshay,,M,NaN,1988-04-08T00:00:00.000Z,6E48U79,"{'_id': 'Tr4W174', 'channelId': '9IrR9ce7'}",83AH0K04SSTV
11,T6Wa50,Nirmala,,,F,NaN,1971-05-16T18:30:00.000Z,NaN,{'_id': 'T6h3635ad3d8002ad9b001'},832ZIS6ZCAHH
12,65sRa36,Satish,,,NaN,NaN,1970-05-16T18:30:00.000Z,NaN,{'_id': '6Y6a36'},YW883CARSES3
13,UG67231,Kalaiarasi,Kalaiarasi,,F,,1997-07-31T00:00:00.000Z,T6a7231,NaN,NaN
14,E4u5Ea2,Satyanaaryan,,,NaN,,NaN,NaN,{'_id': 'E4u5Ea2'},E4u5Ea2
15,T4E7Ge6,Nivitha,,,F,NaN,1997-05-16T18:30:00.000Z,NaN,NaN,NaN
16,04Re22d,Tejpal,,,M,NaN,1972-05-16T18:30:00.000Z,NaN,{'_id': '04Re22d'},04Re22d
17,u7dWa589,Nandhini,,,F,NaN,2001-05-16T18:30:00.000Z,NaN,NaN,NaN
18,TU7e913,Dhanamma,,,F,NaN,NaN,NaN,{'_id': 'u8e6fgd14'},y7ewr5w
19,H8s2d40,Kushal,,,NaN,NaN,NaN,NaN,NaN,NaN
20,u9cd6,Daniya,Zehra,,F,NaN,2001-08-27T00:00:00.000Z,6463U8s231,NaN,NaN
21,Pdh97S6,Jay,Sharma,,M,NaN,1998-11-19T23:30:00.000Z,Jus0480,NaN,NaN
22,h02U8a781,Preethi,,,F,NaN,1996-05-16T18:30:00.000Z,NaN,{'_id': 'T6h9a782'},H8NdI3MAW
23,T6h40a5ad3d8002ad9c06a,VITTHAL SHANKARRAO GHATE,,NaN,NaN,+917797689682,NaN,NaN,{'_id': 'T6h40a1becc5002908b235'},83AAWWI24W63
24,Y7sHec,Naresh,,,M,NaN,1992-05-16T18:30:00.000Z,NaN,NaN,NaN
25,T6h408981ayf32b63bcfa,Suresh,Gaikwad,,NaN,,NaN,NaN,{'_id': 'Hsb690S'},ABCD1419
26,T6U67af9,Govardhan,,,NaN,,NaN,NaN,{'_id': 'u7sg9be5a'},Gya7sfw
27,R53Et5W,Rajeshwari,,,F,NaN,1999-05-16T18:30:00.000Z,NaN,{'_id': 'T6h2fT5535c6'},K44RwH0T
28,dE3r$2b5,Santosh,,,F,NaN,1972-05-16T18:30:00.000Z,NaN,NaN,NaN
29,TI93Hd5,Tarachand,,,M,,1980-03-22T18:30:00.000Z,NaN,{'_id': 'TH8W2d6'},90hjdX2
30,Pdh97S6,Jay,Sharma,,M,NaN,1991-11-19T23:30:00.000Z,Jus0480,NaN,NaN

In [87]:
missing_lastName = patient_details_df['lastName'].isin(['', ' ']).sum()
missing_firstName = patient_details_df['firstName'].isin(['', ' ']).sum()
missing_DOB_edge_cases = patient_details_df['birthDate'].isin([None]).sum()
print(missing_firstName)
print(missing_lastName)
print(missing_DOB_edge_cases)

0
22
1

In [83]:
percent_missing_firstName = round(((missing_firstName / patient_details_df.shape[0]) * 100),2)
percent_missing_lastName = round(((missing_lastName / patient_details_df.shape[0]) * 100), 2)
percent_missing_dob =round((((missing_DOB_edge_cases + patient_details_df['birthDate'].isnull().sum()) / patient_details_df.shape[0]) * 100),2)

In [84]:
print(percent_missing_firstName * 100)
print(percent_missing_lastName)
print(percent_missing_dob)

0.0
70.97
35.48

In [44]:
gender_missing_values = patient_details_df['gender'].isnull().sum() + patient_details_df['gender'].isin(['', ' ']).sum()
print(gender_missing_values)

10

In [63]:
gender_mode = patient_details_df['gender'].mode()
gender_mode = gender_mode.tolist()[0]
print(gender_mode)

M

In [64]:
gender_missing_values = patient_details_df['gender'].isnull().sum() + patient_details_df['gender'].isin(['', ' ']).sum()
print(gender_missing_values)

10

In [67]:
patient_details_df['gender'].fillna(gender_mode, inplace = True)

In [68]:
patient_details_df['gender'].replace(['', ' '], gender_mode)

0     M
1     M
2     M
3     F
4     M
5     M
6     M
7     M
8     M
9     M
10    M
11    F
12    M
13    F
14    M
15    F
16    M
17    F
18    F
19    M
20    F
21    M
22    F
23    M
24    M
25    M
26    M
27    F
28    F
29    M
30    M
Name: gender, dtype: object

In [76]:
no_of_females = patient_details_df[patient_details_df['gender'] == 'F']
no_of_females = no_of_females.shape[0]
print(no_of_females)

10

In [77]:
percent_females = round((no_of_females / patient_details_df.shape[0] * 100), 2)
print(percent_females)

32.26

In [94]:
dob_df = patient_details_df.dropna(subset='birthDate')
dob_df.mask(df.eq(None)).dropna()
dob_df

,_id,firstName,lastName,emailId,gender,alternateContact,birthDate,phrId,chat,customId
1,T6h33b300,Lokesh,,,M,NaN,1996-05-16T18:30:00.000Z,NaN,NaN,NaN
3,6df4R5b,Bhavika,Ben Panchal,,F,NaN,1988-04-24T14:30:00.000Z,644nig7y,NaN,NaN
5,kI9d5c6,Dinesh Kumar,,,M,NaN,1983-05-16T18:30:00.000Z,NaN,{'_id': '09hUb5c7'},3FPEUCW8HACJ
6,i9R324b7,Lalit,Sankhwal,,M,,2003-06-27T14:30:00.000Z,67Yt2b97,NaN,NaN
8,T9Iy347e,Dinesh,,,M,NaN,1983-05-16T18:30:00.000Z,NaN,{'_id': 'T9IsT37f'},0308MSAHYR8K
9,T4Rb1a2,Sanjay,,,M,NaN,1998-05-16T18:30:00.000Z,NaN,{'_id': '7Yd9b1a3'},8S7A3D4K4WZH
10,Tr4T2173,Akshay,Akshay,,M,NaN,1988-04-08T00:00:00.000Z,6E48U79,"{'_id': 'Tr4W174', 'channelId': '9IrR9ce7'}",83AH0K04SSTV
11,T6Wa50,Nirmala,,,F,NaN,1971-05-16T18:30:00.000Z,NaN,{'_id': 'T6h3635ad3d8002ad9b001'},832ZIS6ZCAHH
12,65sRa36,Satish,,,M,NaN,1970-05-16T18:30:00.000Z,NaN,{'_id': '6Y6a36'},YW883CARSES3
13,UG67231,Kalaiarasi,Kalaiarasi,,F,,1997-07-31T00:00:00.000Z,T6a7231,NaN,NaN
15,T4E7Ge6,Nivitha,,,F,NaN,1997-05-16T18:30:00.000Z,NaN,NaN,NaN
16,04Re22d,Tejpal,,,M,NaN,1972-05-16T18:30:00.000Z,NaN,{'_id': '04Re22d'},04Re22d
17,u7dWa589,Nandhini,,,F,NaN,2001-05-16T18:30:00.000Z,NaN,NaN,NaN
20,u9cd6,Daniya,Zehra,,F,NaN,2001-08-27T00:00:00.000Z,6463U8s231,NaN,NaN
21,Pdh97S6,Jay,Sharma,,M,NaN,1998-11-19T23:30:00.000Z,Jus0480,NaN,NaN
22,h02U8a781,Preethi,,,F,NaN,1996-05-16T18:30:00.000Z,NaN,{'_id': 'T6h9a782'},H8NdI3MAW
24,Y7sHec,Naresh,,,M,NaN,1992-05-16T18:30:00.000Z,NaN,NaN,NaN
27,R53Et5W,Rajeshwari,,,F,NaN,1999-05-16T18:30:00.000Z,NaN,{'_id': 'T6h2fT5535c6'},K44RwH0T
28,dE3r$2b5,Santosh,,,F,NaN,1972-05-16T18:30:00.000Z,NaN,NaN,NaN
29,TI93Hd5,Tarachand,,,M,,1980-03-22T18:30:00.000Z,NaN,{'_id': 'TH8W2d6'},90hjdX2
30,Pdh97S6,Jay,Sharma,,M,NaN,1991-11-19T23:30:00.000Z,Jus0480,NaN,NaN

In [99]:
dob_df['birthDate'] = dob_df['birthDate'].apply(lambda x: x.split('-')[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_21836\943234684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dob_df['birthDate'] = dob_df['birthDate'].apply(lambda x: x.split('-')[0])

In [100]:
dob_df['birthDate'].apply(lambda x: 2024 - int(x))

1     28
3     36
5     41
6     21
8     41
9     26
10    36
11    53
12    54
13    27
15    27
16    52
17    23
20    23
21    26
22    28
24    32
27    25
28    52
29    44
30    33
Name: birthDate, dtype: int64

In [111]:
for row in dob_df['birthDate']:
    age = 2024 - int(row)
    if age > 12 and age < 20:
        dob_df['age_group'] = "Teen"
    elif age <= 12:
        dob_df['age_group'] = "Child"
    elif age >= 20 and age <= 59:
        dob_df['age_group'] = "Adult"
    else:
        dob_df['age_group'] = "Senior"

ValueError: invalid literal for int() with base 10: 'Adult'